html
  background: #fff

html
.terminal-input
  font-size: 16px
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace

.terminal-input
  border: 0

  &:focus
    outline: none
